.dostep {
	display: flex;
	flex-direction: row;
	border: 1px solid #CCC;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

	.dostep__control {
		display: block;
		padding: 3px 10px;
		background-color: #F3F3F3;
	}

		.dostep__control:hover, .dostep__control:active, .dostep__control:focus {
			text-decoration: none;
		}

		.dostep__control--less	{ border-right: 1px solid #CCC	; }
		.dostep__control--more	{ border-left:  1px solid #CCC	; }
